@charset "utf-8";
  .hrshadow{
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    box-shadow: 0 -5px 3px 0px rgb(216, 216, 216);
  }
  .red{
    border: 1px solid red !important;
  }
  .line {
    margin: 10px 0;
    a {
      font-size: 12px;
      color: #999;
    }
  }
  .product{
    width: 100%;
    height: 630px;
  }
  .pro-left {
    width: 450px;
    float: left;
    padding-right: 50px;
    position: relative;
    .show {
      display: block!important;
      }
    .big {
      float: left;
      width: 400px;
      height: 400px;
      margin-left: 10px;
      overflow: hidden;
      position: absolute;
      left: 500px;
      top: 0;
      z-index: 9999;
      .bigpic {
        position: absolute;
        top: 0;
        left: 0;
    }
  }
  .hide {
    display: none;
  }
    .pro-img {
      img { 
        width: 450px;
      }
    }
      .small {
      position: relative;
      float: left;
      width: 450px;
      height: 450px;
     
      .movebox {
        background-color: orange;
        opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
    }
      }
  }
  .pro-right {
    width: 700px;
    float: left;
    padding-left: 20px;
  }
  .card-top {
    h1 {
      font-weight: normal;
      font-size: 20px;
      padding-bottom: 10px;
    }
    a {
      color: rgb(204, 1, 1);
      text-decoration: underline;
    }
  }
  .card-price {
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgb(245, 245, 245);
    height: 100px;
    margin-bottom: 20px;
  }
  .card-p {
    margin-bottom: 10px;
    span {
      font-size: 12px;
    }
    em {
      color: rgb(212, 0, 0);
      font-size: 22px;
      font-weight: 600;
    }
  }
  .card-s {
    span {
      font-size: 12px;
    }
  }
  .s-left {
    float: left;
  }
  .s-right {
    float: left;
    em {
      color: rgb(223, 2, 2);
      font-size: 13px;
      padding: 1px;
      border: 1px solid rgb(223, 2, 2);
      margin-right: 10px;
    }
  }
  .card-explain {
    
    border-bottom: 1px solid #ccc;
    & > div {
      text-indent: 10px;
    }
    span {
      margin-right: 15px;
    }
  }
  .card-explain span,
  .card-explain em {
    font-size: 12px;
  }
  .des-color {
    margin-top: 25px;
    text-indent: 10px;
    & > span {
      margin-right: 10px;
      position: relative;
      top: -15px;
    }
    span {
      font-size: 12px;
    }
  }
  .des-phone {
    display: inline-block;
    padding-top: 10px;
    ul {
      li {
        float: left;
        width: 100px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-right: 10px;
        text-align: center;
        
        a {
          width: 100px;
          height: 40px;
          color: #000;
        }
        img {
          margin-left: -5px;
          margin-top: 5px;
          width: 30px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }
        span {
          position: relative;
          top: 5px;
        }
      }
    }
  }
  .des-edition {
    margin-top: 25px;
    text-indent: 10px;
    & > span {
      font-size: 12px;
      margin-right: 20px;
      position: relative;
      top: -10px;
    }
    & > em {
      font-size: 12px;
      position: relative;
      top: -10px;
    }
  }
  .des-ram {
    display: inline-block;
    ul {
      li {
        float: left;
        width: 150px;
        height: 30px;
        border: 1px solid red;
        border-radius: 3px;
        margin-right: 10px;
        text-align: center;
        span {
          font-size: 12px;
          color: black;
          position: relative;
          top: 5px;
        }
      }
    }
  }
  .des-set {
    margin-top: 25px;
    text-indent: 10px;
    & > span {
      font-size: 12px;
      margin-right: 10px;
      position: relative;
      top: -10px;
    }
  }
  .des-s {
    display: inline-block;
    ul {
      li {
        float: left;
        width: 80px;
        height: 30px;
        border: 1px solid red;
        border-radius: 3px;
        margin-right: 10px;
        text-align: center;
        span {
          font-size: 12px;
          color: black;
          position: relative;
          top: 5px;
          left: -3px;
        }
      }
    }
  }
  .pro-buy {
    margin-top: 10px;
  }
  .buy-num {
    margin-left: 10px;
    input {
      float: left;
      width: 50px;
      height: 52px;
      line-height: 54px;
      border: 1px solid #ccc;
      font-size: 18px;
      text-align: center;
    }
  }
  .but-num-btn {
    float: left;
    width: 20px;
    border: 1px solid #ccc;
    border-left: none;
    a {
      width: 20px;
      display: block;
      text-align: center;
      font-size: 20px;
      &:first-child {
        border-bottom: 1px solid #ccc;
      }
    }
  }
  .pay-car,
  .pay-mon {
    padding: 14px 50px;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .pay-car {
    background-color: orange;
  }
  .pay-mon {
    background-color: red;
  }
  .detail{
    border-top: 2px solid rgb(221, 221, 221);
    .detail-top{
      margin: 30px 0;
      p{
        margin: 0 auto;
        width: 100px;
        height: 35px;
        font-size: 22px;
        color: brown;
        text-align: center;
        border-bottom: 2px solid brown;
      }
    }
    .detail-main{
      margin-bottom: 60px;
      img{
        width: 100%;
      }
    }

  }
  